body {
    font-family: "Montserrat", sans-serif;
}

.header {
    min-width: 300px;
}

img {
    max-width: 90px;
}

h3 {
    font-size: 20px;
}

.card-body img {
    min-width: 80%;
    margin: auto;
    border-radius: 25px; /* Applies a 25px radius to all four corners */
    border: 2px solid gray; 
}

a {
    text-decoration: none;
    color: gray;
}

#skills {
    font-size: 20px;
}

#skills span {
    margin: 0.5rem;
}

#intro .rounded-circle {
    margin: auto;
    min-width: 200px;
}

#intro {
    margin: 5rem;
}

.icon {
    width: 50px;
}

#intro .badge {
    background-color: black;
    padding: 15px;
}

h5 {
    font-size: 20px;
}